# Ignore Python cache files
__pycache__/
*.pyc

# Ignore images directory
#images/

# Ignore output directory
#output/

# Ignore private directory
private/

# Ignore virtual environment directory
venv/

deepface_env/